<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Ambiente</title>
</head>
<body>
        <h1>Asignar Ambiente a Usuario</h1>
        <form  method="POST">
            <br>
            <label for="asignado">Ambiente:</label>
            <select id="ambiente" name="asignado">
                <option value="4509">4509</option>
                <option value="2">Ambiente 2</option>
            </select>
            <br>
            <button type="submit" onclick="asignarAmbiente()">Asignar</button>
        </form>
        <div id="notificaciones"></div>
</body>
</html>