{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
  <div>
      <h2 class="caret-sombra-red">NUEVO ELEMENTO AMBIENTE DE FORMACION EN CUENTADANCIA</h2>
      <br><br>
      <div class="general">
      <form method="POST">
          <div>
            <input type="hidden" name="idAMBIENTE" value="{{ current_classroom }}">
          </div>
          <div>
            <label for="serial" class="form-label">Serial</label>
            <input type="text" name="serial" id="serial">
          </div>
          <div>
            <label for="estacion" class="form-label">Estación</label>
            <input type="number" name="estacion" id="estacion">
          </div>
          <div>
            <label for="idTIPOELEMENTO">Tipo de Elemento</label>
            <select id="idTIPOELEMENTO" name="idTIPOELEMENTO">
                {% for data1 in e %}
                    <option value="{{ data1.idTIPOELEMENTO }}">{{ data1.NOMTIPO }}</option>
                {% endfor %}
            </select>
        </div>
          <div>
            <label for="estado">Estado</label>
            <select id="estado" name="estado">
              <option value=1>BUENO</option>
              <option value=2>DEFECTUOSO</option>
              <option value=3>REPORTADO</option>
              <option value=4>EN REPARACION</option>
            </select>
          </div>
          <div>
            <label for="observacion" class="form-label">Observación</label>
            <input type="text" name="observacion" id="observacion">
          </div>
          <button id="newElement" class="btn btn-outline-success">GUARDAR</button>
      </form>
      {% include 'mensajes.html' %}
    </div>
  </div>
  <script src="{{url_for('static', filename='js/newElement.js')}}"></script>
{% endblock %}
