{% extends "base.html" %}

{% include "/banner.html" %}

{%block head%}
{{super()}}
<link rel="stylesheet" href="../static/css/Styleregistro.css">
{%endblock%}

{% block content %}
  <div class="login-page">
    <div class="form">
      <h2>Registro</h2>
      <form method="POST">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="nombre" name="nombre">
          <div id="nombre" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="rol" class="form-label">Rol</label>
          <input type="number" class="form-control" id="rol" aria-describedby="rol" name="rol">
          <div id="rol" class="form-text"></div>
        </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electronico</label>
            <input type="text" class="form-control" id="email" aria-describedby="email" name="email">
            <div id="emailree" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
          <button id="btnAddNewUser" type="submit" class="btnRegistrar">Registrar</button>
      </form>
      {% include 'mensajes.html' %}
    </div>
  </div>
<script src="{{url_for('static', filename='js/loginBtns.js')}}"></script>
{% endblock %}